:root {
  --dark-blue: #363f5f;
  --green: #49AA26;
  --light-green: #3DD705;
  --red: #E92929;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background-color: #f0f2f5;  
  font-family: "poppins", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);

  font-weight: normal;
}

a {
  color: var(--green);
  text-decoration: none;
}

a:hover {
  color: var(--light-green);
}

button {
  width: 100%;
  height: 50px;

  background: var(--green);
  border: none;
  border-radius: 0.25rem;

  color: #fff;

  font-size: 18px;
  cursor: pointer;

  transition: 0.2s;
}

button:hover {
  background: var(--light-green) ;
}

.button.new {
  display: inline-block;
  margin-bottom: .8rem;
}

.button.cancel {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.25rem;
  border: 1px solid var(--red);
  color: var(--red);

  width: 100%;
  height: 50px;

  transition: 0.2s;

}

.button.cancel:hover {
  background: var(--red);
  color: #fff;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

header {
  background-color: #2D4A22;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

#balance {
  margin-top: -6rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}

.card {
  
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;

  margin-bottom: 2.5rem;
  color: var(--dark-blue);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;

  margin-top: 0.25rem;
}

.card.total {
  background: var(--green);
  color: #fff;
}

#transaction {
  display: block;
  width: 100%;
  overflow: auto;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: #969CB3;
  
}

table thead tr th:first-child,
table thead tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table thead tr td:last-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead th {
  background: #fff;

  font-weight: normal;
  padding: 1rem 2rem;

  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table tbody td { 
  background: #fff;
  padding: 1rem 2rem;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12A454;
}

td.expense {
  color: var(--red);
}

td.cursor {
  cursor: pointer;
}
.modal-overlay {
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.7);

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
    background: #f0f2f5;
    padding: 2.4rem;

    max-width: 500px;
    width: 90%;
    margin-top: 0;
}

#form {
  max-width: 500px;
}

input {
  border: none;
  border-radius: 0.5rem;

  padding: 0.8rem;
  
  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

small {
  opacity: 0.7;
}

.input-group.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group.actions .button,
.input-group.actions button{
  width: 48%;
}

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);

  opacity: 0.6;
}

@media (min-width: 800px) {
   html {
     font-size: 87.5%;
   }
   #balance {
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
   }
}
